 
.services-container {
    max-width: 1100px;
 
 

}

.services{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 40px;
    /* background-color: #5cb85c; */
    justify-content: center;
    column-gap: 100px;
    height: 100vh;
}

.brand{
    /* background: lightskyblue; */
     align-items: right;
     display: grid;
    justify-content: end;
    

}
.brand1{
    /* background: lightskyblue; */
     align-items: right;
     display: grid;
    /* justify-content: en d; */
    

}

.service-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
     width: min-content ;
}

.service-item img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
.service-text h2 {
    margin: 0;
    font-size: 22px;
    color: #333;
    text-align: start;
    font-weight: normal;
}

.service-text p {
    margin: 5px 0 0;
    font-size: 16px;
    font-weight:lighter;
    color: #777;
    text-align: start;
    width: 310px;
 }
 
 .laptop{
    /* background: rgb(223, 116, 116); */
    width: 70%;
    /* height: 700px; */
}

.laptop img{
    /* height: 500px; */
     width: 100%;
     
}




/* .................futute work.................. */


.future_work{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;

}
 .phone img{
  position: relative;
  left: 13%;
  top: 40px;
  }


 
 
.work_text p{
width: 800px;
 text-align: left;
 width: 700px;
}
.big_text{
    color: rgb(134, 134, 134);
    font-size: 17px;

 }



.work_text h1{
     align-items: left;
    text-align: left;
    
}
 
 

<div class="c">
<div class="phone ">
    <img src="image/mobile.webp" alt="">

</div>
 
<div class="work_text">
    <h1 class="f">FEATURED WORK</h1>
    <P class="big_text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</P>
    <div class="brand1">
        <div class="services-container2">
             
            <div class="service-item2">
                <img src="image/magic.svg" alt="Branding & Identity">
                <div class="service-text">
                    <h2 class="ft" style=" font-size: 20px;">MAGIC OF THEME DEVELOPMENT</h2>
                     <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                </div>
            </div>
            <div class="service-item">
                <img src="image/gift.svg" alt="Web Development">
                <div class="service-text">
                    <h2 style=" font-size: 20px;">NEATLY PACKAGED</h2>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                </div>
            </div>
            <div class="service-item">
                <img src="image/paint.svg" alt="Mobile Design">
                <div class="service-text">
                    <h2 style=" font-size: 20px;">CEO OPTIMIZED</h2>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                </div>
            </div>
          
        </div>

    </div>

</div>
</div>